.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 1px 7px 2px 7px;
  margin: 2px;
  border: 1px solid #999;
  text-decoration: none;
  color: #999;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #999;
  color: #999;
}
.pagination span.current {
  padding: 1px 7px 2px 7px;
  margin: 2px;
  border: 1px solid #999;
  font-weight: bold;
  background-color: #666;
  color: #FFF;
}
.pagination span.disabled {
  padding: 1px 7px 2px 7px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

