<%= image_tag "icons/about.png" %>
<h2 class="footer_title">ABOUT</h2>
<p>theRailWorld is developed, designed, written by Phil McClure, a software developer from Bangor, Northern Ireland. Phil works for <a href="http://www.rehabstudio.com">rehabstudio.com</a> in Belfast.</p>
<p>The site covers the wide, outreaching, topic of computer science. However, as you may have noticed, it focuses on the wonder, which is, Ruby on Rails. Enjoy!</p>
<%= link_to image_tag("icons/linkedin.png"), "http://www.linkedin.com/in/philmcclure", :target => '_blank' %>
<%= link_to image_tag("icons/rss.png"), "http://therailworld.com/posts.atom", :target => '_blank' %>
<%= link_to 'Follow me on Twitter', 'http://www.twitter.com/overture8', :target => '_blank' %><br />
